<h3 md-dialog-title>Nuevo Camion</h3>
<md-dialog-content>
  <md-grid-list cols="1" rowHeight="60px" >
    <md-grid-tile>
      <p>Llena el formulario para añadir un nuevo conductor de camion</p>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="Nombre conductor"  type="text" [(ngModel)]="name">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Apellidos"  type="text" [(ngModel)]="lastname">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="No. Telefono"  type="text" [(ngModel)]="telephone">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Licencia de manejo"  type="text" [(ngModel)]="licence">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="email"  type="text" [(ngModel)]="email">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <input id="fileInput" name="file" type="file" class="ng-hide" multiple>
    </md-grid-tile>
  </md-grid-list>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button md-dialog-close color="warn">Cancelar</button>
  <button md-raised-button md-dialog-close (click)="createDriver()" color="primary">Guardar Conductor</button>
</md-dialog-actions>
