<h3 md-dialog-title>Nuevo Camion</h3>
<md-dialog-content>
  <md-grid-list cols="1" rowHeight="60px" >
    <md-grid-tile>
      <p>Llena el formulario para añadir un nuevo camion a tu flotilla</p>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="No.Placas"  type="text" [(ngModel)]="placas">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Modelo"  type="text" [(ngModel)]="modelo">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="Marca"  type="text" [(ngModel)]="marca">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="No. Economico"  type="text" [(ngModel)]="noEconomico">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="No. Seguro"  type="text" [(ngModel)]="noSeguro">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Descripcion"  type="text" [(ngModel)]="descripcion">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <input id="fileInput" name="file" type="file" class="ng-hide" multiple>
    </md-grid-tile>
  </md-grid-list>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button md-dialog-close color="warn">Cancelar</button>
  <button md-raised-button md-dialog-close (click)="save()" color="primary">Guardar Registro</button>
</md-dialog-actions>
