<md-toolbar color="primary">
    <button *ngIf="!authUser" md-button routerLink="/">
      <md-icon>home</md-icon>
    </button>
    <button *ngIf="authUser" md-button routerLink="/home">
      <md-icon>home</md-icon>
    </button>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div *ngIf="!authUser" fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button md-button (click)="openLoginDialog()">Login</button>
        <button md-button (click)="openRegistrerDialog()">Registro</button>
    </div>
    <div *ngIf="authUser" fxLayout="row" fxShow="false" fxShow.gt-sm class="loginUserBar">
        <button md-button [mdMenuTriggerFor]="driversMenu">Conductor</button>
        <button md-button [mdMenuTriggerFor]="trucksMenu">Camion</button>
        <button md-button [mdMenuTriggerFor]="deliveriesMenu">Punto de Entrega</button>
        <button md-button [mdMenuTriggerFor]="productsMenu">Mercancia</button>
        <button md-button [mdMenuTriggerFor]="routesMenu">Rutas</button>
        <button md-button routerLink="/alerts">Alertas<md-icon>notifications</md-icon></button>
        <button md-button [mdMenuTriggerFor]="appMenu">
            Bienvenido: <span>{{(af.auth | async)?.google.displayName}}</span>
            <img class="img-rounded" width="30px" src="{{(af.auth | async)?.google.photoURL}}" alt="{{(af.auth | async)?.google.displayName}}">
        </button>
    </div>
</md-toolbar>
<md-menu #appMenu="mdMenu">
  <button md-menu-item (click)="logOut()"> Logout </button>
  <button md-menu-item> Ayuda </button>
</md-menu>
<md-menu #driversMenu="mdMenu">
  <button md-menu-item routerLink="/drivers"> Ver Todos </button>
  <button md-menu-item (click)="openDriverDialog()"> Añadir Nuevo </button>
</md-menu>
<md-menu #trucksMenu="mdMenu">
  <button md-menu-item routerLink="/trucks"> Ver Todos </button>
  <button md-menu-item (click)="openTruckDialog()"> Añadir Nuevo </button>
</md-menu>
<md-menu #deliveriesMenu="mdMenu">
  <button md-menu-item routerLink="/points"> Ver Todos </button>
  <button md-menu-item (click)="openDeliveryPointDialog()"> Añadir Nuevo </button>
</md-menu>
<md-menu #routesMenu="mdMenu">
  <button md-menu-item routerLink="/routes"> Ver Todas </button>
  <button md-menu-item (click)="openRoutesDialog()"> Nueva Ruta </button>
</md-menu>
<md-menu #productsMenu="mdMenu">
  <button md-menu-item routerLink="/products"> Ver Todos </button>
  <button md-menu-item (click)="openProductsDialog()"> Nuevo Producto </button>
</md-menu>
