<h3 md-dialog-title>Iniciar Sesion</h3>
<md-dialog-content>
  <md-grid-list cols="1" rowHeight="80px" >
    <md-grid-tile>
      <button md-raised-button md-dialog-close (click)="loginGoogle()" color="accent">Google</button>
      <button md-raised-button md-dialog-close (click)="loginFacebok()" color="warn">Facebook</button>
      <button md-raised-button md-dialog-close (click)="loginTwitter()" color="primary">Twitter</button>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="ejemplo@ejemplo.com"  type="email" [(ngModel)]="email">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="********"  type="password" [(ngModel)]="password">
      </md-input-container>
    </md-grid-tile>
  </md-grid-list>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button md-dialog-close color="warn">Cerrar</button>
  <button md-raised-button md-dialog-close (click)="login()" color="primary">Login</button>
</md-dialog-actions>2
