
<app-navbar></app-navbar>
<md-list dense>
  <h3 md-subheader>Camiones</h3>
  <md-list-item *ngFor="let folder of results">
    <md-icon md-list-avatar><img md-list-avatar src="http://assets.clickmotive.com/NotAvailable.jpg?w=225&h=165" alt="no-image"></md-icon>
    <h4 md-line>{{folder.placas}}</h4>
    <p md-line> {{folder.marca}} {{folder.modelo}} </p>
    <p md-line>{{folder.noEconomico}}</p>
    <p md-line>{{folder.descripcion}}</p>
  </md-list-item>
  <md-divider></md-divider>
</md-list>
