body{margin: 0px}
.page-body{
  background: url(/assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Set rules to fill background */
   min-height: 100%;
   min-width: 1024px;

   /* Set up proportionate scaling */
   width: 100%;
   height: auto;

   /* Set up positioning */
   position: fixed;
   top: 0;
   left: 0;
   color:white;
}
.wrapper-center{margin: 0 auto; max-width: 700px;}
.wrapper-center h1{font-size: 52px}
.loginUserBar{position: absolute; right: 0px}
.loginUserBar span{color:#FFF}
.img-rounded{-webkit-border-radius: 90px; -moz-border-radius: 90px;border-radius: 90px;}
