<app-navbar></app-navbar>
<md-list dense>
  <h3 md-subheader>Puntos de Entrega</h3>
  <md-list-item *ngFor="let folder of results">
    <img md-list-avatar src="http://wonkville.net/wp-content/uploads/2016/04/No-image-available.jpg" alt="no-image">
    <h4 md-line>{{folder.nombre}}</h4>
    <p md-line> {{folder.direccion}} </p>
  </md-list-item>
  <md-divider></md-divider>
</md-list>