<div class="page-body">
  <app-navbar></app-navbar>
  <div class="wrapper-center">
    <h1>Rastreador</h1>
    <h3>ES LA NUEVA TECNOLOGÍA PARA EL RASTREO EN TIEMPO REAL, INSPIRADA EN LAS NECESIDADES ACTUALES DE TRABAJO. </h3>
    <h3>TOMA EL CONTROL TOTAL DE TU FLOTA DE TRANSPORTE Y FUERZA DE VENTAS CON SÓLO EL USO DE CELULARES.</h3>
    <h3><strong>TAN SIMPLE QUE TE SORPRENDERÁ</strong></h3>
  </div>
</div>
