<app-navbar></app-navbar>
<md-list dense>
  <h3 md-subheader>Productos</h3>
  <md-list-item *ngFor="let folder of results">
    <img md-list-avatar src="http://khusbooenterprise.com/product_image/imagenotavailable.gif" alt="no-image">
    <h4 md-line>{{folder.nombre}}</h4>
    <p md-line> {{folder.descripcion}} </p>
  </md-list-item>
  <md-divider></md-divider>
</md-list>
