<h3 md-dialog-title>Nuevo Punto de Entrega</h3>
<md-dialog-content>
  <md-grid-list cols="1" rowHeight="60px" >
    <md-grid-tile>
      <p>Llena el formulario para añadir un nuevo Punto de Entrega</p>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container class="full-width">
        <input mdInput placeholder="Direccion"  type="text" [(ngModel)]="address" (change)="getCoordinates()">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container class="full-width">
        <input mdInput placeholder="Nombre del punto de entrega"  type="text" [(ngModel)]="namePoint">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="latitud" disabled  type="text" [(ngModel)]="lat">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Longitude" disabled  type="text" [(ngModel)]="lon">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile *ngIf="showLoading">
      <md-progress-circle
          class="example-margin"
          [color]="primary"
          [mode]="Indeterminate">
        </md-progress-circle>
    </md-grid-tile>
  </md-grid-list>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button md-dialog-close color="warn">Cancelar</button>
  <button md-raised-button md-dialog-close (click)="createDeliveryPoint()" color="primary">Guardar Punto</button>
</md-dialog-actions>
