<h3 md-dialog-title>Nueva Ruta</h3>
<md-dialog-content>
  <md-grid-list cols="1" rowHeight="60px" >
    <md-grid-tile>
      <p>Llena el formulario para añadir una nueva Ruta</p>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container class="full-width">
        <input mdInput placeholder="Nombre"  type="text" [(ngModel)]="name">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <md-select placeholder="Camion" [(ngModel)]="selectedtruck" name="trucks">
        <md-option *ngFor="let t of trucks" [value]="t.id">
          {{t.noEconomico}}
        </md-option>
      </md-select>
      <md-select placeholder="Driver" [(ngModel)]="selectedDriver" name="drivers">
        <md-option *ngFor="let t of drivers" [value]="t.id">
          {{t.nombre}}
        </md-option>
      </md-select>
    </md-grid-tile>
    <md-grid-tile>
       <md-select placeholder="Producto" [(ngModel)]="selectedProduc" name="producs">
        <md-option *ngFor="let t of producs" [value]="t.id">
          {{t.nombre}}
        </md-option>
      </md-select>
      <md-select placeholder="Punto de Entrega" [(ngModel)]="selectedpoints" name="points">
        <md-option *ngFor="let t of points" [value]="t.id">
          {{t.nombre}}
        </md-option>
      </md-select>
    </md-grid-tile>
  </md-grid-list>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button md-dialog-close color="warn">Cancelar</button>
  <button md-raised-button md-dialog-close (click)="createRoute()" color="primary">Guardar Ruta</button>
</md-dialog-actions>
