<h3 md-dialog-title>Nueva Mercancia</h3>
<md-dialog-content>
  <md-grid-list cols="1" rowHeight="60px" >
    <md-grid-tile>
      <p>Llena el formulario para añadir un nuevo Producto</p>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="Nombre del Producto"  type="text" [(ngModel)]="name">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="descripcion"  type="text" [(ngModel)]="descripcion">
      </md-input-container>
    </md-grid-tile>
  </md-grid-list>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button md-dialog-close color="warn">Cancelar</button>
  <button md-raised-button md-dialog-close (click)="createProduct()" color="primary">Guardar Producto</button>
</md-dialog-actions>

