<app-navbar></app-navbar>
<div class="container-wrapper">
  <div class="wrapper-sidebar">
    <md-grid-list cols="1" rowHeight="150px"  >
      <md-grid-tile>
        Listado de Camiones en Ruta
      </md-grid-tile>
      <md-grid-tile *ngFor="let c of resultado">
        <md-list>
          <button md-line md-raised-button (click)="showInMap(c.driverId,c.vehiculo)">{{c.vehiculo}}</button>
          <p md-line>Ruta:{{c.nombreRuta}}</p>
          <p md-line>Chofer:{{c.nombreChofer}}</p>
          <p md-line>Mercancia:{{c.Mercancia}}</p>
          <md-divider></md-divider>
        </md-list>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <div class="wrapper-main">
    <md-grid-list cols="1" rowHeight="100px">
      <md-grid-tile>
        <h1>Rastreando....{{tracking}}</h1>
      </md-grid-tile>
      <md-grid-tile [rowspan]="4">
        <sebm-google-map *ngIf="showAllTrucks" [latitude]="lat" [longitude]="lng" [zoom]=12>
          <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'assets/ul-icon.png'"></sebm-google-map-marker>
        </sebm-google-map>
        <sebm-google-map *ngIf="!showAllTrucks" [latitude]="lat" [longitude]="lng" [zoom]=14 >
          <sebm-google-map-polyline  *ngFor="let l of legs; let i = index" [strokeWeight]="10" >
            <sebm-google-map-marker *ngIf="i==0" [latitude]="l.start_location.lat" [longitude]="l.start_location.lng" [iconUrl]="'assets/ul-icon.png'"></sebm-google-map-marker>
            <sebm-google-map-polyline-point [latitude]="l.start_location.lat" [longitude]="l.start_location.lng" >
            </sebm-google-map-polyline-point>
            <sebm-google-map-polyline-point [latitude]="l.end_location.lat" [longitude]="l.end_location.lng">
            </sebm-google-map-polyline-point>
            <sebm-google-map-marker *ngIf="i==legs.length-1" [latitude]="l.end_location.lat" [longitude]="l.end_location.lng"[iconUrl]="'assets/meta.jpg'"></sebm-google-map-marker>
        </sebm-google-map-polyline>
        </sebm-google-map>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
