.container-wrapper{
  margin: 0 auto;
  padding: 20px;
  background-color: #F3F1EC;
  height: 500px;
}
.container-wrapper div{ display: inline-block; min-height: 100%; background-color:#FFF; -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);}
.wrapper-sidebar { width: 20%; margin-right: 20px;}
.wrapper-main { width: 75%; }
.sebm-google-map-container { width: 97%; height: 380px;}
