<app-navbar></app-navbar>
<md-card *ngFor="let a of alertas" class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Alerta de:{{a.nombre}}</md-card-title>
    <md-card-subtitle *ngIf="a.tipoAlerta == 1">EMERGENCIA</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      {{a.Mensaje}}
    </p>
    <p>
      Alerta enviada el :{{a.fecha}}
    </p>
  </md-card-content>
</md-card>
