<app-navbar></app-navbar>
<md-list dense>
  <h3 md-subheader>Conductores</h3>
  <md-list-item *ngFor="let folder of results">
    <img md-list-avatar src="https://heatherchristenaschmidt.files.wordpress.com/2011/09/facebook_no_profile_pic2-jpg.gif" alt="no-image">
    <h4 md-line>{{folder.nombre}}</h4>
    <p md-line> {{folder.telefono}} </p>
    <p md-line> {{folder.licencia}} </p>
    <p md-line> {{folder.email}} </p>
  </md-list-item>
  <md-divider></md-divider>
</md-list>
