<h3 md-dialog-title>Registro</h3>
<md-dialog-content>
  <md-grid-list cols="1" rowHeight="60px" >
    <md-grid-tile>
      <p>----------Opciones sin registro------------</p>
    </md-grid-tile>
    <md-grid-tile>
      <button md-raised-button color="accent">Google</button>
      <button md-raised-button color="warn">Facebook</button>
      <button md-raised-button color="primary">Twitter</button>
    </md-grid-tile>
    <md-grid-tile>
      <p>----------Registro------------</p>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="nombre"  type="text" [(ngModel)]="name">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="apellido"  type="text" [(ngModel)]="lastname">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="ejemplo@ejemplo.com"  type="email" [(ngModel)]="email">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="password"  type="password" [(ngModel)]="password">
      </md-input-container>
    </md-grid-tile>
  </md-grid-list>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button md-dialog-close color="warn">Cerrar</button>
  <button md-raised-button md-dialog-close (click)="login()" color="primary">Registro</button>
</md-dialog-actions>
